@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;

    --background-color: #ffffff;
    --card-background-color: #fff;
    --nav-background-color: #f3faff;
    --shadow-color: #bbd0e2;
    --search-bar-border-color: #bbd0e2;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);

    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}


p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: var(--nav-background-color);
    box-shadow: 0 0 4px var(--shadow-color);
    position: fixed;
    height: 110px;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width:100px;
    /* height: 100px; */
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid var(--search-bar-border-color);
    font-family: "Roboto", sans-serif;
    transition: border-color 0.3s;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    /* padding-block: 20px;
    margin-top: 80px; */

    padding-block: 30px;
    margin-top: 100px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    /* width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease; */

    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px var(--shadow-color);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--card-background-color);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    /* box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px); */

    box-shadow: 1px 1px 8px var(--shadow-color);
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.toggle-dark-mode {
    margin-left: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    font-family: "Roboto", sans-serif;
}

body.dark-mode {
    --primary-text-color: #f1f1f1;
    --secondary-text-color: #d1d1d1;
    --background-color: #111111;
    --card-background-color: #1e1e1e;
    --nav-background-color: #2c2c2c;
    --shadow-color: #444;
    --search-bar-border-color: #444;
}

body.dark-mode .search-button {
    background-color: var(--accent-color);
}

body.dark-mode .search-button:hover {
    background-color: var(--accent-color-dark);
}

body.dark-mode .card:hover {
    box-shadow: 1px 1px 8px #333;
    background-color: #333;
}